<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/editDisco/<%= disco._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <label for="">Título del disco</label>
              <input class="form-control" type="text" name="titulo" id="titulo" placeholder="" value="<%= disco.titulo %>">
            </div>
            <div class="form-group">
              <label for="">Carátula del disco</label>
              <input class="form-control" type="text" name="caratula" id="caratula" placeholder="" value="<%= disco.caratula %>">
            </div>
            <div class="form-group">
              <label for="">Año del disco</label>
              <input class="form-control" type="text" name="anyo" id="anyo" placeholder="" value="<%= disco.anyo %>">
            </div>
            <div class="form-group">
              <label for="">Información del disco</label>
              <textarea class="form-control" name="info" cols="80"
                placeholder=""
                ><%= disco.info %></textarea>
            </div>
            <div class="form-group">
              <label for="">Intérprete</label>
              <select class="form-select form-control" aria-label="selector" name="interprete" id="interprete">
                <option selected value="<%= disco.interprete._id %>"><%= disco.interprete.nombre %></option>
                <% for(var i=0; i < interpretes.length; i++) { %>
                  <option value="<%= interpretes[i]._id %>"><%= interpretes[i].nombre %></option>
                <% } %>
              </select>
            </div>
            <button class="btn btn-success btn-block" type="submit">
              Actualizar datos 
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <a href="/verDisco/<%= disco._id %>" class="btn btn-warning">
          Volver
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('titulo').focus()
</script>
<% include partials/_footer%>