<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/editCancion/<%= cancion._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <label for="">Intérprete de la canción</label>
              <input type="text" class="form-control" name="num_cancion" id="num_cancion" placeholder="" value="<%= cancion.num_cancion %>">
            </div>
            <div class="form-group">
              <label for="">Título de la canción</label>
              <input class="form-control" type="text" name="tit_cancion" id="tit_cancion" placeholder="" value="<%= cancion.tit_cancion %>">
            </div>
            <div class="form-group">
              <label for="">Duración</label>
              <input class="form-control" type="text" name="dur_cancion" id="dur_cancion" placeholder="" value="<%= cancion.dur_cancion %>">
            </div>
            <div class="form-group">
              <label for="">Enlace</label>
              <input type="text" class="form-control" name="enlace" id="enlace" placeholder="" value="<%= cancion.enlace %>">
            </div>
            <div class="form-group">
              <label for="">Intérprete</label>
              <select class="form-select form-control" aria-label="selector" name="del_interprete" id="del_interprete">
                <option selected value="<%= cancion.del_disco.interprete._id %>"><%= cancion.del_disco.interprete.nombre %></option>
                <% for(var i=0; i < interpretes.length; i++) { %>
                  <option value="<%= interpretes[i]._id %>"><%= interpretes[i].nombre %></option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="">Disco</label>
              <select class="form-select form-control" aria-label="selector" name="del_disco" id="del_disco">
                <option selected value="<%= cancion.del_disco._id %>"><%= cancion.del_disco.titulo %> - <%= cancion.del_disco.interprete.nombre %></option>
                <% for(var i=0; i < discos.length; i++) { %>
                  <option value="<%= discos[i]._id %>"><%= discos[i].titulo %> - <%= discos[i].interprete.nombre %></option>
                <% } %>
              </select>
            </div>
            <button class="btn btn-success btn-block" type="submit">
              Actualizar datos 
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <a href="/verCancion/<%= cancion._id %>" class="btn btn-warning">
          Volver
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('tit_cancion').focus()
</script>
<% include partials/_footer%>