<% include partials/_header %>
<div class="container">
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover">
      <thead class="cabecera">
        <th>Intérprete</th>
        <th>Título</th>
        <th>Duración</th>
      </thead>
      <tr>
        <td><%= cancion.num_cancion %></td>
        <td class="titulo"><%= cancion.tit_cancion %></td>
        <td class="centrar-texto"><%= cancion.dur_cancion %></td>
      </tr>      
      <tr>
        <td><strong>Album:</strong></td>
        <td colspan="2">
          <a href="/verDisco/<%= cancion.del_disco._id %>">
            <%= cancion.del_disco.titulo %>
          </a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="card-body centrar-texto">
    <a href="/canciones/canciones" class="btn btn-warning">
      Volver
    </a>
  </div>
</div>
<% include partials/_footer %>