<% include partials/_header %>
<div class="container">
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover">
      <thead class="cabecera">
        <th>Intérprete</th>
        <th>Título</th>
        <th>Duración</th>
        <th>Disco</th>
        <th>Cantante</th>
      </thead>
      <tr>
        <td>
          <a href="/verCantante/<%= cancion.del_disco.interprete._id %>">
            <%= cancion.del_disco.interprete.nombre %>
            <img src="<%= cancion.del_disco.interprete.caratula %>" alt="" width="50px">
          </a>
        </td>
        <td class="titulo">
          <a href="<%= cancion.enlace %>" target="_blank">
            <%= cancion.tit_cancion %>
          </a>
        </td>
        <td class="centrar-texto"><%= cancion.dur_cancion %></td>
        <td>
          <a href="/verDisco/<%= cancion.del_disco._id %>">
            <%= cancion.del_disco.titulo %>
            <img src="<%= cancion.del_disco.caratula %>" alt="" width="50px">
          </a>
        </td>
        <% if(cancion.num_cancion) { %>
          <td colspan="2"><%= cancion.num_cancion %></td>
        <% } else { %>
          <td colspan="2"><%= cancion.del_disco.interprete.nombre %></td>
        <% } %>
    </table>
  </div>
  <div class="card-body centrar-texto">
    <a href="/canciones/1" class="btn btn-volver">
      Volver
    </a>
  </div>
</div>
<% include partials/_footer %>