<% include partials/_header %>
<%= cancion._id %>
<div class="container">
  <div class="col-md-8">
    <table class="table table-bordered table-hover">
      <thead>
        <th>Intérprete</th>
        <th>Título</th>
        <th>Duración</th>
      </thead>
      <tr>
        <td><%= cancion.num_cancion %></td>
        <td><%= cancion.tit_cancion %></td>
        <td><%= cancion.dur_cancion %></td>
      </tr>      
      <tr>
        <td><strong>Album:</strong></td>
        <td colspan="2"><%= cancion.del_disco.titulo %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="card-body">
    <a href="/canciones/canciones" class="btn btn-warning">
      Volver
    </a>
  </div>
</div>
<% include partials/_footer %>